<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>search Info</title>
    </head>
    <body>
        <h1>查询结果</h1>
   <form action="/de" method="get" id="messageform">
	<table>
	<input type="text" name="id" value="1"/>
		{% for x in dataDB %}
		<tr>
			<td>{{x['title']}}  <input type="submit" value="提交"/></td>			
		</tr>		
		{% end %}
	</table>
	</form>
</body>
</html>